Package: com.opa334.trollstorehelper
Name: TrollStore Helper
Description: Helper utility to install and manage TrollStore!
Maintainer: opa334
Author: opa334
Section: Applications
Architecture: iphoneos-arm64
Version: 2.1
Installed-Size: 4400
